/* Mantener el diseño coherente con la homepage */
.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    position: relative;
}

.section-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background: #007bff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Ajuste para hacer los videos responsivos */
.tiktok-embed iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* Proporción de 16:9 */
    width: 100%;
    height: 450px; /* Ajusta según sea necesario */
    border: none;
}

/* Footer */
footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}
